body{
    margin: 0;
    min-height: 100vh;
    background-color: #222;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

article {
    padding-bottom: 2em;
}

nav{
    background-color: rgb(2, 153, 2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;

}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list--item {
    display: inline-block;
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.nav-list--item:hover{
    background-color: green;
    transition: background-color ease-in 300ms;
    font-weight: bold;
    border-bottom: 5px solid yellowgreen;
}

.nav-list--item a{
    color: white;
    display: block;
    padding: 25px;
    text-decoration: none;
}


main {
    padding: 6em 2em 2em 2em;
}

#chris {
    background-image: url("gotl.jpg");
    height: 800px;
}


form {
    padding: 2em 0 2em 0;
}